<form class="w-50">
    <div class="form-group">
        <label for="id">ID: </label>
        <input type="number" disabled class="form-control" name="id" value="{{book.id}}">
    </div>
    <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" disabled name="title" class="form-control" value="{{book.title}}">
    </div>
    <div class="form-group">
        <label for="pageqty">Title: </label>
        <input type="number" disabled name="pageqty" class="form-control" value="{{book.pageqty}}">
    </div>
    <a href="/" class="btn btn-secondary">Back</a>
</form>