<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Provide a name">
            <input type="text" name="age" placeholder="Provide an age">
        </div>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>